<div class="container footer">
  <!-- <a href="http://www.sajawedding.com/about.html"><h5>about</h5></a>
  <a href="http://www.sajawedding.com/stockists.html"><h5>stockists</h5></a>
  <a href="http://www.sajawedding.com/contact.html"><h5>contact</h5></a> -->
</div>
  <div id="social">
   
    <a href="https://twitter.com/SAJAwedding"><img src="http://i.imgur.com/NnrcEM5.png" title="source: imgur.com" id="twitter" /></a>
    <a href="https://www.facebook.com/pages/SAJA/24919332630"><img src="http://i.imgur.com/dS4SAx3.png" title="source: imgur.com" id="facebook" /></a>
    <a href="http://instagram.com/sajawedding"><img src="http://i.imgur.com/ZoaJH25.png" title="source: imgur.com" id="instagram" /></a>
    <a href="http://pinterest.com/sajawedding/boards/"><img src="http://i.imgur.com/entIRFy.png" title="source: imgur.com" id="pinterest" /></a>
  </div> 
