<%= render 'navbar' %>
<div class="container">  
  <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/portrait-01.png" alt="jilee" id="portrait" >
  <p id="about-description">
    A freelance full stack Ruby on Rails developer based in Melbourne. I use Angular JS and Backbone.js to make front-end sexy, and allow Rails to do most of the back-end talking. I also use usual suspects such as Git, Heroku, Bootstrap to get things cooking, and things like Gulp and Bourbon add a bit of spice to my ingredients. When I'm not punching keys on my laptop, I'm out in the water paddle boarding with my dog or mocking around with Ableton Live and CDJs to keep my creative juice flowing. 
  </p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58426260-1', 'auto');
  ga('send', 'pageview');

</script>