<ul class="cb-slideshow">
    <li><span>one</span><div><h3>re·lax·a·tion</h3></div></li>
    <li><span>two</span><div><h3>qui·e·tude</h3></div></li>
    <li><span>three</span><div><h3>bal·ance</h3></div></li>
    <li><span>four</span><div><h3>e·qua·nim·i·ty</h3></div></li>
    <li><span>five</span><div><h3>com·po·sure</h3></div></li>
    <li><span>six</span><div><h3>se·ren·i·ty</h3></div></li>
</ul>
<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top">

    </div><!--/ Codrops top bar -->
    <header>
        <h1>Saja Wedding</h1>
        <h2>Saja Wedding</h2>
<p class="codrops-demos">
  <a href="#" class="current-demo">Demo 1</a>
  <a href="#">page2</a>
  <a href="#">page3</a>
  <a href="#">page4</a>
</p>
    </header>
</div>
    