<ul class="cb-slideshow">
    <li><span></span><div><h3>bridal</h3></div></li>
    <li><span></span><div><h3>dresses</h3></div></li>
    <li><span></span><div><h3>from</h3></div></li>
    <li><span></span><div><h3>new york</h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
</ul>
<div class="container">
  <!-- Codrops top bar -->
  <div class="codrops-top">

  </div><!--/ Codrops top bar -->
  <header>
    <h1>Saja Wedding</h1>
      <p class="codrops-demos">
        <a href="#" class="current-demo">Demo 1</a>
        <a href="#">page2</a>
        <a href="#">page3</a>
        <a href="#">page4</a>
      </p>
    </header>
</div>
    