
<ul class="cb-slideshow">
    <li><span></span><div><h3>full stack</h3></div></li>
    <li><span></span><div><h3>developer</h3></div></li>
    <li><span></span><div><h3>in</h3></div></li>
    <li><span></span><div><h3>melbourne</h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
</ul>

  <!-- Codrops top bar -->
  <div class="codrops-top">

  </div><!--/ Codrops top bar -->
  <header>
    <!-- <a href="/"><h1>SAJA WEDDING</h1></a>
      <p class="codrops-demos">
        <a href="#">collection</a>
        <a href="#">albums</a>
        <a href="#">blog</a>
      </p> -->
    <%= render 'navbar' %>

    
  </header>

    