
<ul class="cb-slideshow">
    <li><span></span><div><h3>Hi, I'm Ji</h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
    <li><span></span><div><h3></h3></div></li>
</ul>

  <!-- Codrops top bar -->
  <div class="codrops-top">

  </div><!--/ Codrops top bar -->
  <header>

    <%= render 'navbar' %>
    
  </header>

    