<body class="portfolio">
  
  <%= render 'navbar' %>
  <div class="container">
    <h4 class="page-title">PORTFOLIO</h4>
    <br>
    <div class="col-sm-4">
      <a href="http://clvt.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/clovet-01.png" alt="clovet" class="port-image"></a>
    </div> 
    <div class="col-sm-4"> 
      <a href="http://bloq.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/bloq-01.png" alt="bloq" class="port-image"></a>
    </div> 
    <div class="col-sm-4"> 
      <a href="http://advisr.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/advisr-01.png" alt="advisr" class="port-image"></a>
    </div>  
  </div>  
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58426260-1', 'auto');
  ga('send', 'pageview');

</script>