<body class="portfolio">
  
  <%= render 'navbar' %>
  <div class="container">
    <h4 class="page-title">PORTFOLIO</h4>
    <br>
    <div class="col-sm-4">
      <a href="http://clvt.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/clovet-01.png" alt="clovet" class="port-image"></a>
    </div> 
    <div class="col-sm-4"> 
      <a href="http://bloq.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/bloq-01.png" alt="bloq" class="port-image"></a>
    </div> 
    <div class="col-sm-4"> 
      <a href="http://advisr.herokuapp.com"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/images/advisr-01.png" alt="advisr" class="port-image"></a>
    </div>  
  </div>  
</body>