<body class="portfolio">
  
  <%= render 'navbar' %>
  <div class="container">
    <h4 class="page-title">PORTFOLIO</h4>
    <br>
    <p id="trial">Please use the following credentials for test login. Login: trial@mail.com  Password: 12345678</p>
    <div class="col-sm-4 space">
      <div id="clvt">
        <a href="http://clvt.herokuapp.com">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-clvt1-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-clvt2-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-clvt3-01.png" alt="">
        </a>
      </div>  
      <a href="#"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/clovet-01.png" alt="clovet" class="port-image" id="showClvt"></a>
      <p>New way to shop fashion. Front-end development using JavaScript.</p>
    </div> 
    <div class="col-sm-4 space"> 
      <div id="bloq">
        <a href="http://bloq.herokuapp.com">  
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-bloq1-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-bloq2-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-bloq3-01.png" alt="">
        </a>  
      </div>
      <a href="#"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/bloq-01.png" alt="bloq" class="port-image" id="showBloq"></a>
      <p>Tech, food, design, and travel web magazine using Angular JS and Rails.</p>
    </div> 
    <div class="col-sm-4 space"> 
      <div id="advisr">
        <a href="http://advisr.herokuapp.com">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-advir4-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-advisr2-01.png" alt="">
          <img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/folio-advisr3-01.png" alt="">
        </a>  
      </div>
      <a href="#"><img src="https://s3-ap-southeast-2.amazonaws.com/jilee.co/advisr-01.png" alt="advisr" class="port-image" id="showAdvisr"></a>
      <p>Public forum for relationship problems. Full stack development using Ruby on Rails.</p>
    </div>  
  </div>  
</body>


<script>
  $(document).ready(function(){
    $("#advisr").hide();
    $("#showAdvisr").click(function(){
      $("#advisr").toggle('slow');
    });
    $("#clvt").hide();
    $("#showClvt").click(function(){
      $("#clvt").toggle('slow');
    });
        $("#bloq").hide();
    $("#showBloq").click(function(){
      $("#bloq").toggle('slow');
    });
  })
</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58426260-1', 'auto');
  ga('send', 'pageview');
</script>