@import url("https://fonts.googleapis.com/css?family=Lato")

body {
  background-color: #edeaea;
  font-family     : 'Lato', sans-serif;
}
.navbar-header {
  background-color: rgba(0,0,0,0);
}
.navbar {
  background-color: rgba(0,0,0,0);
}
.container-fluid {
  background-color: rgba(0,0,0,0);
}
.container-fluid.collapse.navbar-collapse {
  background-color: rgba(0,0,0,0);
}
.nav {
  background-color: rgba(0,0,0,0);
}
.navbar.navbar-default{
  background-color: rgba(0,0,0,0);
  border-style: none;
}
.navbar-collapse.collapse.in {
  text-align: right;
}
#bs-example-navbar-collapse-1{
  background-color: rgba(0,0,0,0);
  text-align: right;
}

.footer {
  text-align : left;
  position   :absolute;
  bottom     :0;
  left       :0;
  display    : inline-block;
  margin     : 0.7em;
  margin-left: 0.5em;
}
.footer a {
  display    : inline-block;
  margin-left: 0.5em;
  color      : #999;
 /* text-shadow: 1px 0px 0px #333;*/
  font-style: normal;
}
.footer a:hover {
  text-decoration: none; 
  color: #333;
}
.font-color {
  color: #777;
}
#twitter {
  position    : absolute;
  text-align  : right;
  bottom      : 0;
  right       : 0;
  margin      : 1.3em;
  margin-right: 9.1em;
  opacity: 0.2;
}
#twitter:hover {
  opacity: 0.6;
}
#facebook {
  position    : absolute;
  bottom      : 0;
  right       : 0;
  margin      : 1.3em;
  margin-right: 6.7em;
  opacity     : 0.2;
}
#facebook:hover {
  opacity: 0.6;
}
#pinterest {
  position    : absolute;
  text-align  : right;
  bottom      : 0;
  right       : 0;
  margin      : 1.3em;
  margin-right: 2em;
  opacity: 0.2;
}
#pinterest:hover {
  opacity: 0.6;
}
#instagram {
  position: absolute;
  bottom  : 0;
  right   : 3em;
  margin  : 1.3em;
  opacity : 0.2;
}
#instagram:hover {
  opacity: 0.6;
}

/*about page*/
#portrait {
  width             : 180px;
  border-radius     : 50%;
  box-shadow        : 2px 2px 2px #999;
  transition        : 0.5s;
  -webkit-transition: box-shadow 0.5s;
}
#portrait:hover {
  box-shadow        : 6px 6px 6px #999;
  transition        : box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
}
#about-description {
  color: #777;
  margin: 2em;
}

/* portfolio page */
body.portfolio {
  background-color: #a5d6a7;
  color: #fff;
}

/* contact page */
body.contact {
  background-color: #b0b3c5;
  color: #fff;
}
body.contact h4 {
  color: #fff;
}
body.contact p {
  color: #fff;
}
.page-title {
  margin-top: 1em;
/*  color: #777;*/
}









